.profile{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 12px;
    width: 200px;
}

.stats{
    display: flex;
    gap: 15px;
    padding: 10px;
}
.statsItem{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}