.friendList{
    padding: 0;
    display: flex;
    gap: 5px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border: 1px solid black;
    border-radius: 10px;
    width: 70px;
    padding: 10px;
}

.status.isOnline{
    color: green;
}
.status.isOffline{
    color: red;
}